__pycache__/
*.swp
*.sw*
fichiers.sqlite*
fichiers.sqlite-journal
activity.log*
*.xml
graphical_abstracts/
images_stock/
options.ini
*_save
searches.ini
debug/
images/dled/
dist/
*.xcf
debug_journals/
config/twitter_credentials
build/
captcha.png
misc.py
output_tests.log
test.py
.cache
.pyupdater
pyu-data/
output_tests_gui_components.log
output_tests_hosts.log
output_tests_feeds.log
packages/
version.txt
