altgraph==0.16.1
appdirs==1.4.3
arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
bsdiff4==1.1.5
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
dsdev-utils==0.9.6
ed25519==1.4
https://github.com/JPFrancoia/feedparser/archive/develop.zip
future==0.16.0
idna==2.7
macholib==1.11
more-itertools==4.3.0
numpy==1.15.1
olefile==0.46
packaging==17.1
pbr==4.2.0
pefile==2018.8.8
Pillow==5.2.0
pluggy==0.7.1
py==1.6.0
pycparser==2.18
Pygments==2.2.0
PyInstaller==3.4
pyparsing==2.2.1
PyQt5==5.9.2
PyQt5-sip==4.19.12
pytest==3.8.0
pytest-qt==3.0.2
python-dateutil==2.7.3
python-xlib==0.23
pytz==2018.5
PyUserInput==0.1.11
requests==2.19.1
requests-futures==0.9.7
scikit-learn==0.19.2
scipy==1.1.0
sgmllib3k==1.0.0
sip==4.19.8
six==1.11.0
sklearn==0.0
stevedore==1.29.0
twitter==1.18.0
urllib3==1.23
validators==0.12.2
