appdirs==1.4.0
arrow==0.10.0
beautifulsoup4==4.6.0
bs4==0.0.1
bsdiff4==1.1.4
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
cycler==0.10.0
decorator==4.0.11
dsdev-utils==0.9.6
ed25519==1.4
https://github.com/JPFrancoia/feedparser/archive/develop.zip
idna==2.5
numpy==1.13.0
olefile==0.44
packaging==16.8
pbr==3.0.1
Pillow==4.1.1
py==1.4.31
pycparser==2.17
PyInstaller==3.2.1
pyparsing==2.2.0
PyQt5==5.8.2
pytest==3.0.3
pytest-qt==2.1.0
python-dateutil==2.6.0
python-xlib==0.18
pytz==2016.6.1
PyUpdater==2.3.2
PyUserInput==0.1.11
qtbot==0.0.1
requests==2.17.3
requests-futures==0.9.7
scikit-learn==0.18.1
scipy==0.19.0
sgmllib3k==1.0.0
sip==4.19.2
six==1.10.0
sklearn==0.0
stevedore==1.23.0
twitter==1.17.1
urllib3==1.21.1
validators==0.12.0
