QPushButton
{
    border: 0px;
    margin-top: 5px;
    max-width: 36px;
    max-height: 36px;
    min-width: 36px;
    min-height: 36px;
}

QPushButton[accessibleName="toolbar_round_button"]
{
    margin-left: 10px;
}
