QPushButton
{
    color: white;
    background: grey;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
    margin-top: 5px;
}

QPushButton[accessibleName="toolbar_button"]
{
    background: #F1103A;
}

QPushButton:checked
{
    background: #F1103A;
}

