QToolBar, QScrollArea, QTabWidget, QSplitter, .QWidget
{
    background: #333333;
    border: 0px;
    /*margin: 0;*/
}

QTabWidget, QSplitter, QTableView
{
    border: 0px;
}

QLabel
{
    color: white
}
