QScrollArea
{
    background: grey;
    /*border: 0px;*/
    /*margin: 0;*/
}

QTabWidget
{
    border: 0px;
    /*margin: 0px;*/
}

QSplitter
{
    /*border-style: transparent;*/
    border: 0px;
    /*margin: 0px;*/
}

QTableView
{
    border: 0px;
}
