QPushButton
{
    color: white;
    background: grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    margin-top: 5px;
}

QPushButton[accessibleName="toolbar_button"]
{
    /*background: #F1103A;*/
    background: #EF4C39;
}

QPushButton:checked
{
    /*background: #F1103A;*/
    background: #EF4C39;
}

QLineEdit
{
    margin-left: 10px;
    margin-top: 5px;
}
